body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

header {
    background-color: #2E3B55;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

#upload {
    text-align: center;
    margin: 20px;
}

#filePreview {
    margin-top: 20px;
}

#progressContainer {
    text-align: center;
}

#results {
    text-align: center;
}

footer {
    background-color: #333333;
    color: #B3B3B3;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
